@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 23px;
}

nav > ul  {
    display: flex;
    flex-direction: row;
    gap: 37px;
    margin-left: 20px;
    list-style:none;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.63);
}

nav > ul > li > a{
    text-decoration: none;
    font-size: 1.2rem;    
    color: rgba(255, 255, 255, 0.63);
    
}

nav > ul > li > a:hover{
    border-bottom: 3px solid red;
    color: red;
}

#icons {
    gap: 16px;
    height: 50px;
}

#icons:hover{
    font-weight: 900;
}

#img-one{
    width: 100px;
    height: 50px;
    margin-top: 15px;
}